*{
    display: inline-block;
}
.all{
    display: flex;
       justify-content:space-around;
       font-family: sans-serif;
}


.one{
    background-color: #FFFFFF;
   /* height: 400px;
    width: 300px;*/
    width: 250px;
height: fit-content;
    border: 2px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 10px 10px 5px #888888;
}
.two{
    background-color: rgb(32,40,66);
    width: 250px;
    height: fit-content;
    color:aliceblue;
    border: 3px;
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
}
.three{
background-color:#FFFFFF;
width: 250px;
height: fit-content;
border: 3px;
box-shadow: 10px 10px 5px #888888;
padding: 20px; 
border-radius: 15px;
padding: 20px;
}

